
<div style="position:relative;">
    {% for img, pos in badges %}
    	<img class="badges-img-hide-product" style="position:absolute; left:{{ pos }}px" src="{{ img.url }}">
    {% endfor %}
    <img class="garantiabuket-img" style="position:absolute; left: 0px" src="{{ STATIC_URL }}img/garantiabuket.png">
</div>