{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load staticfiles %}
{% load url from future %}
 
{% if not ajax %}
    <div id="category_products_{{ pa_id }}" portlet_assignment_id="{{ pa_id }}">
    
    </div>
{% endif %}
 
{% if products %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category_products.css' %}">
<div id="portlet_{{ pa_id }}">
    <div class="featured-products-portlet portlet">
     
         <h4 class='title portlet-title'>
          <a href="{% url 'lfs_category' category_products_portlet.category.slug %}" class="category-title">
                {{ category_products_portlet.category.name }}
                </a>
                <span class="pull-right"><div pa_id="{{ pa_id }}" class='pa_id_{{pa_id}}'>{{ sorting_form.sorting }}</div></span>
            </h4>
          <div class="portlet-body">
           
            {% for product in products %}
            <div class="portlet-item{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %} pull-left" >
               
            <div class="product-image">
                    <a href="{{ product.get_absolute_url }}">
                        {% badges_for_product product %}
                        {% if product.get_image %}
                            <img src="{{ product.get_image.image.url_medium }}">
                        {% else %}
                            <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
                        class="product-image" />
                        {% endif %}
                    </a>
                </div>
                <div class="product-title">
                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                </div>
                 {% if product.get_for_sale %}
                    <div class="product-price">
                        <span class="label label-info price">{{ product.for_sale_price|floatformat:0 }} <span class="currency">{{ SHOP.default_currency.abbr }}</span></span>
                     
                    </div>
                {% else %}
                <div class="product-price">
                    <span class="label label-info price">{{ product.price|floatformat:0 }}
                        <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                    </span>
                </div>
                {% endif %}
                {% if product.status.show_buy_button %}
                    <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                        class="add-to-cart-form" method="post">
                    {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        
                        <button class="btn">{% trans "Buy" %}</button>
                    </form>
                {% endif %}
            </div>
            {% endfor %}
 
        {% if pagination %}
        <ul class="pager" style="float: left; width: 100%; margin-top: 0px;">
            <li class="previous{% if not products.has_previous %} disabled{% endif %}">
                <a {% if products.has_previous %}href="javascript:load_page({{ products.previous_page_number }}, {{ pa_id }})"{% endif %}></a>
            </li>
            <li class="next{% if not products.has_next %} disabled{% endif %}">
                <a {% if products.has_next %}href="javascript:load_page({{ products.next_page_number }}, {{ pa_id }})"{% endif %}></a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
</div>
 
{% if ajax_mode %}
    <script type="text/javascript">
        mediator.publish("add_to_cart");
    </script>
{% endif %}
 
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    $(document).ready(function(){
            $('div.pa_id_{{ pa_id }} .category_products_portlet_sorting').val('{{ sorting }}')
        });
</script>
{% endif %}
 
{% if init %}
    <script type="text/javascript">
 
        $.ajax({
          url: "{% url 'category_products_portlet_ajax' %}",
          type: "POST",
          dataType: "json",
          data: {
            'ajax_mode': '{{ ajax_mode }}',
            // 'page': {{ page }},
            'pa_id': {{ pa_id }},
          },
          success: function(msg){
              $('#category_products_{{ pa_id }}').html(msg['html'])
              page_designer.page_rebuild();
          }
        });
        function load_page(page, pa_id){
            class_name = '#category_products_' + pa_id;
            sorting_value = $(class_name+' .pa_id_'+pa_id+' select')[0].value;
           //$(class_name).animate({ opacity: "0.3" }, 1);
            $.ajax({
              url: "{% url 'category_products_portlet_ajax' %}",
              type: "POST",
              dataType: "json",
              data: {
                'ajax_mode': '{{ ajax_mode }}',
                'page': page,
                'pa_id': pa_id,
                'sorting': sorting_value,
              },
              success: function(msg){
                  class_name = '#category_products_' + pa_id
                 // $(class_name).animate({ opacity: "1" }, 50);
                  $(class_name).html(msg['html'])
                  page_designer.page_rebuild();
              }
            });
        }
        function sorting_page(sorting){
            sorting_value = sorting[0].value;
            pa_id = sorting.parent().attr('pa_id')
            class_name = '#category_products_' + pa_id;
            // $(class_name).animate({ opacity: "0.3" }, 1);
            $.ajax({
                  url: "{% url 'category_products_portlet_ajax' %}",
                  type: "POST",
                  dataType: "json",
                  data: {
                    'ajax_mode': '{{ ajax_mode }}',
                    'sorting': sorting_value,
                    'pa_id': pa_id,
                  },
                  success: function(msg){
                    class_name = '#category_products_' + pa_id;
                    //$(class_name).animate({ opacity: "1" }, 50);
                    $(class_name).html(msg['html'])
                      page_designer.page_rebuild();
                  }
            });
        }
    </script>
{% endif %}
<script type="text/javascript">
   
    mediator.publish('add_to_cart');
</script>
