<div class="span12 slider-content">
<div class="slider-background">
<div class="slider-background-white">
<div id="slider-block">
    
    <div class="slider-wrapper">
        <div id="index_slider" class="nivoSlider">
                    {% if images %}
                      {% for img in images %}
                            {% if img.url %}
                            <a href="{{ img.url }}"><img src="{{ img.image }}"
                            title="{{img.caption}}" alt="{{img.caption}}"></a>
                            {% else %} 
                            <img src="{{ img.image }}"
                            title="{{img.caption}}" alt="{{img.caption}}">
                            {% endif %}
                      {% endfor %}
                    {% else %}
                    <a href="#"><img src="static/img/header_01.jpg"
                            title="Title example" alt="example"></a>
                    {% endif %}
        </div>
    </div>
</div>
</div>
</div>
<br>
</div>
<script type="text/javascript">
$(window).load(function(){
  $('#index_slider').nivoSlider({
        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
        //slices: 15, // For slice animations
        boxCols: 8, // For box animations
        boxRows: 4, // For box animations
        animSpeed: 500, // Slide transition speed
        pauseTime: 4000, // How long each slide will show
        //startSlide: 0, // Set starting Slide (0 index)
        directionNav: true, // Next & Prev navigation
        controlNav:true, // 1,2,3... navigation
        //controlNavThumbs: true, // Use thumbnails for Control Nav
        pauseOnHover: true, // Stop animation while hovering
        manualAdvance: false, // Force manual transitions
        //prevText: 'Prev', // Prev directionNav text
        //nextText: 'Next', // Next directionNav text
        randomStart: false, // Start on a random slide
        //beforeChange: function(){}, // Triggers before a slide transition
        //slideshowEnd: function(){}, // Triggers after all slides have been shown
        //lastSlide: function(){}, // Triggers when last slide is shown
  });

});


</script>





<!-- <div id="slider_{{id}}">
    <div class="row-fluid">
        <div class="span12">
            <div class="slider-wrapper theme-bar">
                <div class="ribbon"></div>
                <div id="slider1" class="nivoslider">
                    {% if images %}
                      {% for img in images %}
                            {% if img.url %}
                            <a href="{{ img.url }}"><img src="{{ img.image }}"
                            title="{{img.caption}}" ></a>
                            {% else %} 
                            <img src="{{ img.image }}"
                            title="{{img.caption}}" >
                            {% endif %}
                      {% endfor %}
                    {% else %}
                    <a href="#"><img src="static/img/header_01.jpg"
                            title="Title example" >
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> -->
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    mediator.subscribe("document_ready", function(){
    $('#middle-slot-container').prepend($('#slider_{{id}}'))
})();
</script>