{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}

{% if products %}
<div id="portlet_{{ pa_id }}" class="product-list">
    <div  class="featured-products-portlet portlet">


{% if title == 'Акционные товары' or title == 'Action goods' %}
 <div class="portlet-header">
    <a href="/product-list/aktsii">
        <h4>{{ title }}</h4>
    </a>
</div>
{% else %}
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
{% endif %}

        <div class="portlet-body">
            {% if not slideshow %}
                {% for product in products %}
                <div class="portlet-item{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %}" >
                    <a href="{{ product.get_absolute_url }}" style="height:100px;display:block;">
                            <img src="{{ product.get_image.image.url_medium }}" alt="{{ product.get_name }}">
                    </a>
                    <a href="{{ product.get_absolute_url }}" >
                        <br>{{ product.get_name }}
                    </a>
                    <div class="product-price">
                        <span class="label label-info price">{{ product.price|floatformat:0 }}
                            <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                        </span>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="products-wrapper slideshow">
                {% for product in products %}
                    <div id="tab-{{ forloop.counter }}" class="portlet-item">
                        <div class="product-data">
                            <div class="product-image">
                            <a href="{{ product.get_absolute_url }}">
                                   <img src="{{ product.get_image.image.url_large }}" alt="{{ product.get_name }}">
                            </a>
                            </div>
                            <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                            

                             {% if product.get_for_sale %}
                                <div class="product-price">
                                    <span class="label label-info price">{{ product.for_sale_price|floatformat:0 }} <span class="currency">{{ SHOP.default_currency.abbr }}</span></span>
                    
                                </div>
                            {% else %}
                            <div class="product-price">
                                <span class="label label-info price">{{ product.price|floatformat:0 }}
                                    <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                                </span>
                            </div>
                            {% endif %}
                            {% if product.status.show_buy_button %}
                                <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                    class="add-to-cart-form" method="post">
                                {% csrf_token %}
                                    <input name="product_id" type="hidden" value="{{ product.id }}" />
                                    <input name="ajax_mode" type="hidden" value="1" />
                                    
                                    <button class="btn">{% trans "Buy" %}</button>
                                </form>
                {% endif %}

                        </div>
                    </div>
                {% endfor %}{# slideshow products #}
                {# tabs #}
                <ul style="display:none">
                {% for product in products %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul>
            </div>
         
            {% endif %}
        </div>{# portlet-body #}

        {% if pagination %}
        <ul class="pager" style="float: left; width: 100%; margin-top: 0px;">
            <li class="previous{% if not products.has_previous %} disabled{% endif %}">
                <a {% if products.has_previous %}href="javascript:portlet_paginator({{ pa_id }}, {{ products.previous_page_number }})"{% endif %}></a>
            </li>
            <li class="next{% if not products.has_next %} disabled{% endif %}">
                <a {% if products.has_next %}href="javascript:portlet_paginator({{ pa_id }}, {{ products.next_page_number }})"{% endif %}></a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

{% if ajax_mode %}
    <script type="text/javascript">
        mediator.publish("add_to_cart");
    </script>
{% endif %}

<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
