{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load url from future %}

{% block section %}my-account{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Your settings") %}
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
<div class="page-header">
<h1>{% trans "Your settings" %}</h1>
</div>

<div class="customer-settings">
<table class="customer-settings__table">
    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{% trans "Your login" %}</td>
        <td class="customer-settings__table__value">
        <strong>{{ customer.user.username }}</strong>
        </td>
    </tr>
</table>

{% if has_fields %}
{% if not customer.is_filled %}
    <div class="alert alert-warning">
    {% trans "Your personal settings did not set. Fill it for the better user experience." %}
    </div>
{% endif %}
<table class="customer-settings__table">
    {% with name=customer.get_full_name %}
    {% if name %}
    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{% trans "Your name" %}</td>
        <td class="customer-settings__table__value">{{ name }}</td>
    </tr>
    {% endif %}
    {% endwith %}

    {% if customer.date_of_birth %}
    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{% trans "Date of birth" %}</td>
        <td class="customer-settings__table__value">{{ customer.date_of_birth }}</td>
    </tr>   
    {% endif %}

    {% if additional_fields %}
    {% for field in additional_fields %}
    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{{ field.label }}</td>
        <td class="customer-settings__table__value">
        {% if field.value|is_true %}
        <img src="/static/icons/boolean--true.png" alt="{% trans 'Yes' %}" title="{% trans 'Yes' %}"/>
        {% elif field.value|is_false %}
        <img src="/static/icons/boolean--false.png" alt="{% trans 'No' %}" title="{% trans 'No' %}"/>
        {% else %}
        {{ field.value }}
        {% endif %}
        </td>
    </tr>      
    {% endfor %}
    {% endif %}

    <tr>
        <td class="customer-settings__table__item"></td>
        <td class="customer-settings__table__value">
            <div class="customer-settings__toolbar">
                <ul class="customer-settings__toolbar__menu--inline">
                    <li class="customer-settings__toolbar__menu__item">
                        <a href="{% url 'lfs_edit_my_account' %}">{% trans "Edit settings" %}</a>
                    </li>
                </ul>
            </div>
        </td>       
    </tr>
</table>
{% endif %}

<table class="customer-settings__table--with-margin">
    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{% trans "Email" %}</td>
        <td class="customer-settings__table__value">
            {% if emails %}
            <table class="customer-settings__value-table">
            {% for email in emails %}
                <tr class="customer-settings__value-table__row">
                <td class="customer-settings__value-table__row__value">
                <span class="{% if email.default %}customer-settings__value-table__row__value--default{% else %}customer-settings__value-table__row__value--other{% endif %}">
                {{ email.email }}
                </span>

                {% if not email.verified %}
                <img class="__action__popover-right" src="/static/icons/exclamation-small.png" title="{% trans 'Not verified' %}"/>
                {% else %}
                <img src="/static/icons/tick.png" title="{% trans 'Verified' %}"/>
                {% endif %}
                </td>
                <td class="customer-settings__value-table__row__toolbar">
                {% if not email.default %}
                [
                    <a class="customer-settings__value-table__row__toolbar__button __action__confirm-when-click" data-message="{% trans 'Do you really want to change your default email?' %}" href="{% url 'lfs_set_default_email' email.id %}">{% trans "Set default" %}</a> |
                    <a class="customer-settings__value-table__row__toolbar__button __action__confirm-when-click" data-message="{% trans 'Do you really want to remove that email?' %}" href="{% url 'lfs_remove_email' email.id %}">{% trans "Remove" %}</a>
                ]
                {% endif %}               
                </td>
                </tr>
            {% endfor %}
            </table>
            {% if has_unverified_email %}
            <br/>
            <div class="alert alert-warning">
            {% blocktrans %}
            You have one or more unverified emails. Verification of the email
            is not strongly necessary, but highly recommended. It can be used for
            restore forgotten password or receiving the email newsletters.
            {% endblocktrans %}
            </div>
            {% endif %}
            {% else %}
            <div class="alert alert-info">
            {% trans "You don't have associated emails." %}
            </div>
            {% endif %}
            <div class="customer-settings__toolbar">
                <ul class="customer-settings__toolbar__menu--inline">
                    <li class="customer-settings__toolbar__menu__item">
                        <a href="{% url 'lfs_add_email' %}">{% trans "Add email" %}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>

    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{% trans "Phones" %}</td>
        <td class="customer-settings__table__value">
            {% if phones %}
            <table class="customer-settings__value-table">
            {% for phone in phones %}
                <tr class="customer-settings__value-table__row">
                <td class="customer-settings__value-table__row__value">
                <span class="{% if phone.default %}customer-settings__value-table__row__value--default{% else %}customer-settings__value-table__row__value--other{% endif %}">
                {{ phone.get_formatted_number }}
                </span>
                <img src="/static/{{ phone.get_type_icon }}" alt="{{ phone.get_type_str }}" title="{{ phone.get_type_str }}"/>                
                </td>
                <td class="customer-settings__value-table__row__toolbar">
                {% if not phone.default %}
                [
                    <a class="customer-settings__value-table__row__toolbar__button __action__confirm-when-click" data-message="{% trans 'Do you really want to change your default phone?' %}" href="{% url 'lfs_set_default_phone' phone.id %}">{% trans "Set default" %}</a> |
                    <a class="customer-settings__value-table__row__toolbar__button __action__confirm-when-click" data-message="{% trans 'Do you really want to remove that phone?' %}" href="{% url 'lfs_remove_phone' phone.id %}">
                    {% trans "Remove" %}</a>
                ]
                {% endif %}               
                </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <div class="alert alert-info">
            {% trans "You don't have associated phones." %}
            </div>
            {% endif %}
            <div class="customer-settings__toolbar">
                <ul class="customer-settings__toolbar__menu--inline">
                    <li class="customer-settings__toolbar__menu__item">
                        <a href="{% url 'lfs_add_phone' %}">{% trans "Add phone" %}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>      

    {% if shop.address_form_fields %}
    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{% trans "Addresses" %}</td>
        <td class="customer-settings__table__value">
            {% if addresses %}
            <table class="customer-settings__value-table">
            {% for address in addresses %}
                <tr class="customer-settings__value-table__row">
                <td class="customer-settings__value-table__row__value">
                <span class="{% if address.default %}customer-settings__value-table__row__value--default{% else %}customer-settings__value-table__row__value--other{% endif %}">
                {{ address.get_customer_address }}
                </span>
                </td>
                <td class="customer-settings__value-table__row__toolbar">
                {% if not address.default %}
                [
                    <a class="customer-settings__value-table__row__toolbar__button __action__confirm-when-click" data-message="{% trans 'Do you really want to change your default address?' %}" href="{% url 'lfs_set_default_address' address.id %}">{% trans "Set default" %}</a> |
                    <a class="customer-settings__value-table__row__toolbar__button __action__confirm-when-click" data-message="{% trans 'Do you really want to remove that address?' %}" href="{% url 'lfs_remove_address' address.id %}">{% trans "Remove" %}</a>
                ]
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <div class="alert alert-info">
            {% trans "You don't have associated addresses." %}
            </div>
            {% endif %}
            <div class="customer-settings__toolbar">
                <ul class="customer-settings__toolbar__menu--inline">
                    <li class="customer-settings__toolbar__menu__item">
                        <a href="{% url 'lfs_add_address' %}">{% trans "Add address" %}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% endif %}    
</table>

{% load_linked_loginza_users %}
{% if loginza_usermaps %}
<table class="customer-settings__table--with-margin">
    <tr class="customer-settings__table__row">
        <td class="customer-settings__table__item">{% trans "Social networks" %}</td>
        <td class="customer-settings__table__value">
        <ul class="customer-settings__socials__menu">
            <p>{% blocktrans %}You account is linked with your accounts in
            a couple of social networks. You can use your social networks accounts
            for login.{% endblocktrans %}</p>
            {% for um in loginza_usermaps %}
            <li class="{% if forloop.last %}customer-settings__socials__menu__item--last{% else %}customer-settings__socials__menu__item{% endif %}">
            <img src="/static/icons/social__{{ um.identity.get_provider_ident }}.png" alt="{{ um.identity.get_provider_ident|capfirst }}" title="{{ um.identity.get_provider_ident|capfirst }}"/>
            </li>
            {% endfor %}
        </ul>        
        </td>
    </tr>
</table>
{% endif %}
</div>

<!-- 2 unclosed div in basic_theme-->
</div>
</div> 
<!-- unclosed in basic_theme-->
{% endblock %}
