{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load properties_tags %}
{% load i18n lfs_tags sshop_tags %}
{% load seo_data %}

{% block breadcrumbs %}
<ul class="breadcrumb" >
    <li>
        <a href="/" ><i class="icon-home"></i></a> /
    </li>
    <li>
        <a href='{% url "product_lists" %}'>{{ product_lists_page_name }}</a> /
    </li>
    <li>
        <span> {{ product_list.name }}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">
<h1 class="category-caption pull-left">{{ product_list.name }}</h1>
<div class='extra_product_list_description'>
    {% if extra_product_list.logo %}
        <img class="pull-left extra_product_list_logo" src="{{extra_product_list.logo.url}}">
    {% endif %}
    {{ extra_product_list.description|safe }}
</div>
    
    
{% include "product_list_pages/toolbar.html" %}
<div id="products">
     {% if product_none %}
            <div class="alert">
                <p>{% trans 'There are no products or current list. Maybe they will show later.' %}</p>
            </div>
            <p><a href="/">{% trans 'Home'%}</a></p>
        {% elif not products_count%}
            <div class="alert">
                <p>{% trans 'There are no products for current filters. For clearing the filters press the "Clear" button and try to choose another ones.' %}</p>
            </div>
        {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                    {% if product.get_image.image.url_large %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_large }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/200x200.gif" />
                    {% endif %}
                </a>
            </div>
            <div class="span8">
                
                <div class="product-caption"><a href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a></div>

                {% property_value_icons product %}

                {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}

                {% if not product.is_product_with_variants %}
                <div class="product-form">
                {% if product.has_variants %}
                    {% if product.get_default_variant.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% else %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% endif %}
                </div>
                {% endif %}
                {% if product.is_product_with_variants %}
                <div id="variants-{{ product.pk }}"></div>
                {% endif %}
            </div>
            <div class="span2">
            {% if product.is_product_with_variants %}
                <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    {% cheapest_price product %}
                </span>
                </div>  
                <a href="{% url 'lfs_product_variants_for_category' product.pk %}" class="btn btn-mini ajax-load" data-container="#variants-{{ product.pk }}">{% trans "All variants" %}</a>
            {% else %}

            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-info price">{% for_sale_price product %}</span>
                </div>
            {% else %}
                <div class="product-price">
                    <span class="label label-info price">{{ product.price|floatformat:0 }}
                        <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                    </span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="{{ product.default_value }}" />
            <button class="btn btn-mini">{% trans "Add to cart" %}</button>
            </form>
            {% endif %}
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>
{% include "lfs/catalog/categories/product/products_navigation.html" %}
{% endblock %}
{% block body_bottom %}
    <script>
        config.left_portlet_count++;
        mediator.publish('change_slots_width', "span3", "span6", "span9");  
    </script>
{% endblock %}