{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load properties_tags %}
{% load i18n lfs_tags sshop_tags %}
{% load seo_data %}

{% block breadcrumbs %}
<ul class="breadcrumb" >
    <li>
        <a href="/" ><i class="icon-home"></i></a> /
    </li>
    <li>
        <a href='{% url "product_lists" %}'>{{ product_lists_page_name }}</a> /
    </li>
    <li>
        <span> {{ product_list.name }}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">
<div id="product_list_table-caption" class="row-fluid">
    <div class="span9"><h1 class="category-caption pull-left">{{ product_list.name }}</h1></div>

     <div class="span3">{% include 'product_list_pages/toolbar.html' %}</div>
</div>
<div class='extra_product_list_description'>
    {% if extra_product_list.logo %}
        <img class="pull-left extra_product_list_logo" src="{{extra_product_list.logo.url}}">
    {% endif %}
    {{ extra_product_list.description|safe }}
</div>
    <div id="products">
        <table id="product_list_table" class="table">
         {% if product_none %}
            <div class="alert">
                <p>{% trans 'There are no products or current list. Maybe they will show later.' %}</p>
            </div>
            <p><a href="/">{% trans 'Home'%}</a></p>
        {% elif not products_count%}
            <div class="alert">
                <p>{% trans 'There are no products for current filters. For clearing the filters press the "Clear" button and try to choose another ones.' %}</p>
            </div>
        {% endif %}
        {% for product in products %}
            {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
                <div class="product-table-item">
                <div class="bg-line">&nbsp;</div>
                    <div class="row-fluid">
                        <div class="product_picture" class="span12">
                            {% property_value_icons product %}
                            <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                                {% if product.get_image.image.url_huge %}
                                    {% badges_for_product product %}
                                    <img class="img_product" alt="{{ product.name }}" src="{{ product.get_image.image.url_large }}" />
                                {% else %}
                                    <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/200x200.gif" />
                                {% endif %}
                            </a>
                        </div>
                        
                    </div>


                     <div class="row-fluid">
                        <div class="span12">
                            <div class="product-caption"><a href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a>
                            </div>
        
                        </div>
                    {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
                    </div>


                    <div class="row-fluid">
                        <div class="span12">
                            {% if not product.is_product_with_variants %}
                        {% if product.get_for_sale %}
                        <div class="product-price">
                        <span class="label label-info price" price="{{ product.price }}" currency="{{ currency.code }}">{{ product.for_sale_price|floatformat:0 }} <span class="currency">{{ SHOP.default_currency.abbr }}</span></span>
                        <ul class="savings">
                        <li><span id="int-for-sale-price{{ product.id }}" class="for-sale-price">{% standard_price product %}</span></li>
                        <li><span id="int-price_difference{{ product.id }}" class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>

                        <script type="text/javascript">  
                            var t="{% standard_price product %}";
                            var res = t.substr(0,t.indexOf("."));
                            $("#int-for-sale-price{{ product.id }}").html(res+" грн");

                            t="{% price_difference product %}";
                            res = t.substr(0,t.indexOf("."));
                            $("#int-price_difference{{ product.id }}").html("Экономия: "+res+" грн");
                        </script>
                            </ul>
                        </div>
                        </ul>
                    </div>
                        {% else %}
                           <div class="product-price">
                                <span class="label label-info price">{{ product.price|floatformat:0 }}
                                    <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                                </span>
                            </div>
                        {% endif %}
    
                        {% if product.status.show_buy_button %}
                        <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                            class="add-to-cart-form" method="post">
                        {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <button class="btn btn-danger buy">{% trans "Buy" %}</button>
                        </form>
                        {% endif %}


                        {% endif %}
                        </div>

                    </div>
        </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
    </table>
    </div>
    {% include "lfs/catalog/categories/product/products_navigation.html" %}
{% endblock %}
{% block body_bottom %}
    <script>
        config.left_portlet_count++;
        mediator.publish('change_slots_width', "span3", "span6", "span9");  
    </script>
{% endblock %}