{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load seo_data %}
 {% block middle-slot %}{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb" >
    <li>
        <a href="/" ><i class="icon-home"></i></a> /
    </li>
    <li>
        <span>{{ product_lists_page_name }}</span>	
    </li>

</ul>
{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">
	<div class="product_lists">
	{% for extra_product_list in extra_product_lists %}
		<div class="product_list_block pull-left">
			<a href="{% url 'product_list_page' extra_product_list.slug %}">
				<div class="product_list_name">
					{{ extra_product_list.product_list.name }}
				</div>
				{% if extra_product_list.logo %}
				<div class="product_list_logo">
					<img src="{{ extra_product_list.logo.url }}" alt="">
				</div>
				{% endif %}
				
			</a>
		</div>
	{% endfor %}
	</div>
{% endblock %}
{% block body_bottom %}

{% endblock %}