{% load i18n lfs_tags %}
{% load url from future %}
<div class="row-fluid category-toolbar">
    <div class="span12">

    <div class="pull-right">
    <div class="pull-left">
    {% sorting %}
    </div>
    </div>
    </div>
</div> <!-- row-fluid -->

