{% load i18n %}
<div class="cart-wrap">
<div class="row-fluid">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div id="empty-cart">
         <div class="span6">     
            <p>{% trans "Cart is empty." %}</p>      
        </div>
        <div class="span6">
            <img src="{{ STATIC_URL }}img/empty-cart.png">
        </div>    
        </div>
</div>
        {% else %}   
        <div class="span6">     
           <p>{% trans "Goods" %}: <span>{{ amount|floatformat }}</span></p>
            <p>{% trans 'Total price' %}:</br> <span class="cart-block-price">{{ total_price|floatformat:0  }} </span> <span> {{ SHOP.default_currency.abbr }}</span></p>
        </div>
        <div class="span6">
            <img src="{{ STATIC_URL }}img/full-cart.png">
        </div>  
         </div>
        <div class="row-fluid"> 
            <div class="span12">
                <a class="btn done-offer" href="{% url lfs_checkout %}">{% trans "send order" %}</a>
            </div>    

<!--             <div class="span4">
                <a id="clear-cart" >{% trans 'Очистить' %}</a>
            </div> -->
        </div> 
        {% endif %}
        {% endwith %}
</div>
<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
