{% load url from future %}
{% load staticfiles i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery_plugin/gallery_plugin.css' %}">
<div class="portlet">
    <div class="portlet-header">
        <a href="/gallery/">
                <img src="{{ MEDIA_URL }}{{ gallery.logo }}">
                <p class="gallery-title">{{ gallery.title }}</p>
            <h4>{{ galleries_view_portlet.title }}</h4>
         </a>
    </div>
    {% for gallery in galleries %}
        <div class="gallery-block">
            <a href="{% url 'gallery_page' gallery.slug %}">
                <img src="{{ MEDIA_URL }}{{ gallery.logo }}">
                <p class="gallery-title">{{ gallery.title }}</p>
            </a>
        </div>
    {% endfor %}
    <a href="/gallery/" class="pull-right">{% trans "List of all galleries" %}</a>
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>