{% load url from future %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery_plugin/gallery_plugin.css' %}">
<div class="portlet">
    <div class="portlet-header">
        <a href="/gallery/">
            <h4>{{ random_photos_views_portlet.title }}</h4>
        </a>
    </div>

    {% for photo in photos %}
        <div class="gallery-block">
            <img src="{{ MEDIA_URL}}{{ photo.image }}" alt="{{photo.title}}">
            <p class='gallery-title'>{{photo.title}}</p>
            {% if photo.product %}
                <p class="gallery-product-link">
                    <a href="{% url 'lfs_product' photo.product.slug %}" class="gallery-product-link">
                        {{ photo.product.get_name }}
                    </a>
                </p>
            {% endif %}
            <a href="/gallery/fotogalereya/" class="more pull-right">
            {% trans "all photos" %}
        </a>
        </div>
    {% endfor %}
   

</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>