{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# load regions_tags #}
{% load vertical_menu_tags %}
{% load snippets_tags %}
{% load seo_data %}
{% load pcart_api_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    {% snippets 'Head top' %}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% get_title %}{% endblock %}</title>
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />   
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>  <!-- vk widget -->
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vertical_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/css/jcarousel/tango/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <!-- <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script> -->
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" />
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>

        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>
    {% endcompress %}

    {% include 'lfs/extra_css.html' %}

    {% snippets 'Head bottom' %}
    {% block head_bottom %}{% link_to_mobile_template %}{% endblock %}
</head>
<body class="{% block section %}{% endblock %}">
    {% block header_messages %}
        {% if request.maintenance_messages %}
        <div>
        {% for m in request.maintenance_messages %}
        {% if m.type > 0 %}   
            <div class="alert alert-warning">{{ m.message }}</div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    {% endblock %}

    {% snippets 'Body top' %}
    <div id="seo-text-wrapper-bottom" {% if main_page %} style="padding: 10px 0;"{% endif %}>
        {% get_seo_text_new %}
    </div>
    <div id="wrap"> 
        <div id="gradient-block">
            <div class="white_header">
                
            </div>
            <div id="header" class="container"> {# Use class "container-fluid" on the following div for making complete website fluid #}
              <div class="white_header">
                
            </div>
                <div class="row-fluid print-hide">
                    {% block header %}
                    <div class="span5">
                        <a href="/"><img src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" alt="Logo"></a>
                        {# show_regions #}
                    </div>
                    <div class="span5">
                        <div class="row-fluid print-hide">
                            <div id="static_block_header" class="span12">
                                {% static_block "header" %}
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="span2">
                        {# Client script use this container for load cart here by ajax #}
                        <div id="cart-container"><img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif" alt="loader"></div>
                    </div>
                    {% endblock %}
                </div>
            <div class="row-fluid">
                 <div id="top-bar-container"> {# Client script use this container for insert top bar here by ajax #}
                    <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif" alt="loader">
                </div>
            </div>

            </div>
        </div>

    <div class="container"> 

    

    {% if messages %}
    {% for message in messages %}
    <div class="__action__hide-after-10-seconds alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}</div>
    {% endfor %}
    {% endif %}


    <div id="content">
        <div class="row-fluid">
            {% block wrapper %}
                {% block left-slot-wrapper %}
                    {# if SlotLeft #}
                        <div id="left-slot-container"> {# Class is set automatically #}
                            <div class="left-slot">
                                {% vertical_menu %}
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}

                <div id="middle-slot-container"> {# Class is set automatically #}
                    <div class="middle-slot">
                        <div class="row-fluid">
                        {% if not main_page %}
                            <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
                        {% endif %}
                       
                        {% if main_page %}
                            {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
                        {% endif %}

                        {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>

                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container1" class="span2"> {# Class is set automatically #}
                            <div class="right-slot">
                                {% block right-slot %}{% lfs_portlet_slot 'Right' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}

                

            {% endblock %}
        </div>

    </div>


    </div>
    <div id="push"></div>
    </div>

    {% if  main_page %}
    <div id="seo-text-botttom">
        <div class="container">
            <div class="row-fluid print-hide">
                <div class="span12">
                    <div id="bottom-slot-container"> 

                    </div>
                </div>
            </div>
        </div>
    </div>
      
    {% endif %}

    <div id="footer">
        <div class="container footer-content">
        <div class="row-fluid print-hide">
            <div class="span12">
                <ul class="unstyled" style="
    height: 10px;">
                {% block footer %}
                {% static_block "footer" %}

                <li class="footer-title">{% actions Footer %}</li>

                {% for action in actions %}
                <div class="span1">
                  <a href="{{action.link}}">{{action.title}}</a>
                    {% for child in action.children.all %}
                         <li><a href="{{child.link}}"> {{child.title}}</a></li>
                    {% endfor %}
                </div>
                {% endfor %}
                {% endblock %}
                </ul>

            </div>
        </div>
     
        </div>
    </div>

    {% include "lfs/modal.html" %}

    {% block google-analytics-tracking %}
        {% google_analytics_tracking %}
    {% endblock %}
    {% block google-analytics-ecommerce %}{% endblock %}


    {% if DEMO_MODE %}
        {% include "demo_tools/zendesk.html" %}
    {% endif %}


    {% include 'lfs/extra_js.html' %}

    {% snippets 'Body bottom' %}

    <!-- Start SiteHeart code -->
    <script>
        (function(){
        // your widget ID
        var widget_id = 663185;
        _shcp =[{widget_id : widget_id}];
        // set default language
        var lang =(navigator.language || navigator.systemLanguage
        || navigator.userLanguage ||"en")
        .substr(0,2).toLowerCase();
        // script url
        var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
        var hcc = document.createElement("script");
        hcc.type ="text/javascript";
        hcc.async =true;

        hcc.src =("https:"== document.location.protocol ?"https":"http")
        +"://"+ url;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
        })();
    </script>
    <script type="text/javascript">
          $("#seo-text-wrapper-bottom").appendTo("#bottom-slot-container").css({
          position: 'inherit',
         
          'margin-left': '0',
          left: '0'
        });
    </script>
    <!-- End SiteHeart code -->
    {% block body_bottom %}
        <script>
            config.left_portlet_count++;
            mediator.publish('change_slots_width', "span3", "span7", "span9");
        </script>
    {% endblock %}  

</body>
    <script>
        mediator.publish('change_slots_width', "span3", "span7", "span9");
    </script>
</html>