{% load i18n lfs_tags sshop_tags %}
{% load l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}

{% include "lfs/catalog/categories/product/toolbar.html" %}
<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'There are no products for current filters. For clearing the filters press the "Clear" button and try to choose another ones.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="product_picture span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_medium %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_medium }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/200x200.gif" />
                    {% endif %}
                </a>                        
            </div>
            <div class="span8">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                <div class="product-form">
                <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}"><span class="blue">{% trans "Add to compare" %}</span></a>
                </div>

                </div>
            <div class="span2">
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-info price">{% for_sale_price product %}</span>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{{ product.price|floatformat:0 }}
                    <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                </span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form"
                 method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="1" />
            <button class="btn btn-danger buy">{% trans 'Buy' %}</button>
            </form>
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>
{% include "ajax_scrolling_products/ajax_scrolling.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<script type="text/javascript">
            config.left_portlet_count++;    
            mediator.publish('change_slots_width', "span3", "span9", "span9");
          
</script>