{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}

<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'There are no products for current filters. For clearing the filters press the "Clear" button and try to choose another ones.' %}</p>
        </div>
    {% endif %}
<table class="table">
    {% for product in products %}
    {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item">
    <div class="bg-line">&nbsp;</div>
        <div class="row-fluid">
            <div class="product_picture span12">
                    <a href="{% url lfs.catalog.views.product_view product.slug %}">
                     {% if product.get_image %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_large }}"  />
                    {% else %}
                        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.name }}"/>
                    {% endif %}
                    </a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                 <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
            {% if product.get_for_sale %}
                 <div class="product-price">
                    <span class="label label-info price" price="{{ product.price }}" currency="{{ currency.code }}">{{ product.for_sale_price|floatformat:0 }} <span class="currency">{{ SHOP.default_currency.abbr }}</span></span>
                    <ul class="savings">
                    <li><span id="int-for-sale-price{{ product.id }}" class="for-sale-price">{% standard_price product %}
                    </span></li>
                    <li>
                    <div class="span2"></div>
                    <div class="row-fluid"><div class="span4 you_save">{% trans 'You save' %}: </div>
                    <div class="span5 price_diff">{% price_difference product %}</div></div></li>
                    </ul>
                </div>
                
            {% else %}

                <div class="product-price">
                <span class="label label-info price">{{ product.price|floatformat:0 }}
                    <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                </span>
            </div>



            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                    class="add-to-cart-form" method="post">
                {% csrf_token %}
                <input name="product_id" type="hidden" value="{{ product.id }}" />
                <input name="ajax_mode" type="hidden" value="1" />
               <!--  <input class="input-small inline" name="quantity" type="number" value="{{ product.default_value }}" /> -->
                <button class="btn btn-danger buy">{% trans "Buy" %}</button>
                </form>
            {% endif %}
            </div>
        </div>
        </div>
        
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}

        {% endfor %}
</table>
</div>
{% include "ajax_scrolling_products/ajax_scrolling.html" %}
{% comment %}{% include "lfs/catalog/categories/product/products_navigation.html" %}{% endcomment %}
<div class="description">
    {{ category.description|safe }}
</div>
