{% load i18n lfs_tags %}
<div class="row-fluid category-toolbar">
    <div class="span12">
    <h2 class="category-caption pull-left">{{ category.name }} ({{ products_count }})</h2>            

    <div class="pull-right">
    <div class="pull-left">
    {% sorting %}
    </div>
    </div>
    </div>
</div> <!-- row-fluid -->

<script type="text/javascript">

    mediator.publish('table_page_mode');

</script>