{% extends "lfs/base.html" %}
{% load i18n lfs_tags sshop_tags %}

{% block title %}
    {% trans "Notebook" %}
{% endblock %}

{% block section %}{% endblock %}

{% block head %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block middle-slot %}{% endblock %}

{% block content %}

<div id="products" class="notebook-page">
    {% if not products_count %}
        <div class="alert">
            <p>{% trans 'There are no products in your notebook.' %}</p>
        </div>
    {% endif %}
    {% for product in notebook_list %}
    <div class="product-list-item">
        <div class="row-fluid">
            <a href="{% url lfs_notebook_remove_product product.id %}"><i class="icon-remove"></i></a>
            <div class="span12">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    <div class="product-image">
                    {% if product.get_image.image.url_medium %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_medium }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                    </div>
                </a>                        
           
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
         
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-info price">{% for_sale_price product %}</span>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <button class="btn btn-mini">{% trans "Buy" %}</button>
            </form>
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}

{% endblock %}