{% load url from future %}
{% load lfs_tags %}
{% load staticfiles i18n %}
{% if not ajax %}
    <div id="global_reviews" portlet_assignment_id="{{ portlet_assignment_id }}">
        
    </div>
{% endif %}
{% if global_reviews %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_reviews.css' %}">
    <div class="portlet">
        <div class="portlet-header">
            <h4>
                <a href="{% url 'global_reviews' %}">
                    {{global_reviews_portlet.title}}
                </a>
            </h4>
        </div>
        <div id="show-review">
        {% for review in global_reviews %}
            <div class="global_review">
  
                <div class="global_review_name_date">
                    {{ review.name }} <span class="date">{{ review.create_date|date:"d.m.y" }}</span>
                </div>

                <div class="global_review_preamble">
                    {% ifequal review.preamble review.text %}
                        {{ review.preamble }}
                    {% else %}
                        {{ review.preamble }}
                        <a class="more" review_id="{{ review.id }}">...</a>
                    {% endifequal %}
                </div>
            </div>
        {% endfor %}

         <a href="{% url 'global_reviews' %}" class="more pull-right">{% trans 'all reviews' %}</a>
        </div>
    </div>
    <script type="text/javascript">
        {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
        {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
        $('.global_review_preamble a.more').click(function(){
            var link = $(this)
            $.ajax({
              url: "/reviews/ajax-load-text/" + $(this).attr('review_id') + '/',
              dataType: "json",
              success: function(msg){
                  link.parent()[0].innerHTML = msg['html'];
              }
      });
        });
    </script>
{% endif %}
{% if init %}
     <script type="text/javascript">
      $.ajax({
          url: "{% url 'reviews_portlet_ajax' portlet_assignment_id %}",
          dataType: "json",
          success: function(msg){
              $('#global_reviews')[0].innerHTML = msg['html']
              mediator.publish('run_scripts_from', $('#global_reviews')[0].innerHTML)
              mediator.publish('change_slots_width', "span3", "span7", "span9");
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}