{% load i18n %}
{% load mptt_tags %}
<div class="navbar main-nav">
<div class="top_dropdown navbar-inner">
        <h4>{% trans 'Make a gift' %}</h4>
        <div id="left-menu">
        <ul id="top_category">
        <li class="main-category list-menu">
                    <a class="a_category aktsii-menu" href="/product-list/aktsii">{% trans 'Action goods' %}</a> 
        <hr>
        </li>

        {% for top_category in categories %}
        {% if top_category.exclude_from_navigation %}
        {% else %}
            <li id="cat_{{ top_category.id }}" class="main-category list-menu">
                {% if not top_category.is_leaf_node %}
                    <img {% if top_category.slug in request.path %} class="img-triangle opened" {% else %}class="img-triangle"{% endif %}   src="/static/img/triangle.png" onclick="$('#cat_{{ top_category.id }}').toggleClass('opened-sub-menu');">
                {% endif %}
              
                <a {% if "prazdnichnij-den" in top_category.slug %} class="a_category top_cat aktsii-menu" {% else %} class="a_category top_cat" {% endif %} href="{% url lfs_category top_category.slug %}">
                
                    {{ top_category.name }}</a>
                <span class="cart-content"></span>

                   {% ifequal top_category.slug request.path|slice:"1:" %}
                             <script type="text/javascript">
                                 $('#cat_{{ top_category.id }}').addClass("showed-sub-menu");
                            </script>
                        {% endifequal %}


                <div class="sub-nav">
                 <hr>
                    {% if not top_category.is_leaf_node %}
                    <div id="sub_cat_{{ top_category.id }}" class="sub-category">
                        <div class="row-fluid">
                            {% for category in top_category.get_children %}
                             {% if category.exclude_from_navigation %}
                             {% else %}
                            {% if forloop.first %}

                            <div class="category_row span12"> 
                            {% endif %}
                            <ul class="category-list">
                               
                                <li class="category_name {{ category.slug }}">
                                    <a id="{{category.slug}}" class="red"  href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                               
                                        {% ifequal category.slug request.path|slice:"1:" %}
                                         <script type="text/javascript">
                                             $('#cat_{{ top_category.id }}').addClass("showed-sub-menu");
                                             $('#{{category.slug}}').addClass("current-category");
                                        </script>
                                        {% endifequal %}

                                </li>
                                <hr>
                            </ul>
                            {% if forloop.counter|divisibleby:top_category.extras.row %}
                {% if forloop.last %}
                    </div>
                {% else %}
                    </div>
                    <div class="category_row span4">
                {% endif %}
            {% endif %}
            {% endif %}
        {% endfor %}   
                    </div></div>
                    {% endif %}
                </div>
                
            </li>
           
        {% endif %}
            {% endfor %}
        </ul>
        </div>
</div>
</div>