{% load lfs_tags %}
{% load l10n i18n %}

{% localize off %}
{% if average %}
	

<div class="row-fluid">
    <div class="span4">
        <p>{% trans "Users Rating" %}:</p>
    </div>
    <div class="span8 pull-left">
        
    <div class="average-rating"
         onclick="window.location='#reviews'">
        <ul class="star-rating">
            <li class="current-rating"
                style="width:{{average|multiply:25}}px">
                Currently 3/5 Stars
            </li>
        </ul>
    </div>
    </div>
</div>
    
	

{% endif %}
{% endlocalize %}
