{% load i18n %}
<div class="portlet-header">
    <h4>{% trans "Filters" %}</h4>
</div>
{% if category_slug %}
    <div class="external_blocks_filter" id="external_blocks_filter_{{ id }}">
        {% for f in filters %}
            <div class="filter-main-page">

            <a href="#" onclick="openbox('external-filter-{{ f.filter.id }}'); return false">
                <h4 class="filter-title">{{ f.filter.displayed_title }}</h4>
            </a>
            <div id="external-filter-{{ f.filter.id }}" class="filter-content" style="display: none;">
                {% if f.view == 'list' %}
                    {% include "external_blocks/external_blocks_filter_list.html" %}
                {% elif f.view == 'select' %}
                    {% include "external_blocks/external_blocks_filter_select.html" %}
                {% endif %}
            </div>
            </div>
        {% endfor %}
        {% if show_button %}
            <div>
                <a class="clear_external_filter">{% trans "Reset" %}</a>
            </div>
            <a href='{{ button_link }}' class="btn external_filter">{{ show_button }}</a>
        {% endif %}
    </div>
     <script type="text/javascript">
            function openbox(id){
            display = document.getElementById(id).style.display;

            if(display=='none'){
                document.getElementById(id).style.display='block';
            }else{
                document.getElementById(id).style.display='none';
                }
            }
    </script>
    {% include "external_blocks/external_blocks_filter.js" %}
{% endif %}

  <script>
        mediator.publish('change_slots_width', "span3", "span7", "span9");
        page_designer.page_rebuild();
    </script>