.gallery_plugin{
	float:left;
	width:100%;
}
.gallery_plugin ul{
    list-style: none;
    float:left;
}
.gallery_plugin li{
    display: inline;
    float:left;
    width:210px;
}
.gallery_plugin img{
    max-width: 200px;
    max-height: 150px;
}
.gallery_plugin .gallery-block{
	display:inline-block;
}
.gallery_plugin .gallery-block .gallery-logo img{
	width:321px;
	height:200px;

}
.gallery_plugin .gallery-block .gallery-photos img{
	width:70px;
	height:auto;
}
.gallery-block .gallery-title{
	text-align:center;
	font-size:16px;
}
.gallery-block .gallery-product-link{
	text-align:center;
	font-size:12px;
}