.product_list_block{
	width:200px;
	height:150px;
	margin:0px 10px 10px 0px;
}
.product_list_block .product_list_logo{
	width:100%;
	height:130px;
	float:left;
	text-align: center;
}
.product_list_block .product_list_name{
	float:left;
	width:100%;
	height:20px;
	text-align: center;
}
.product_list_block .product_list_logo img{
	height:120px;
}
.extra_product_list_logo{
	width:200px;
	margin:0px 10px 10px 0px;
}
.extra_product_list_description{
	clear:both;
}