{% load i18n %}
<div class="control-group">
  <b class="control-label">{% trans 'Shipping method' %}</b>
  <div class="controls payment-method">
      {% if default_shipping_only %}
      <p>{{ selected_shipping_method.name }}</p>
      <input name="shipping_method" type="hidden" value="{{ selected_shipping_method.id }}"/>
      {% else %}
      <select name="shipping_method"
          class="update-checkout">
      {% for shipping_method in shipping_methods %}
          <option value="{{shipping_method.id}}"
              id="shipping-method-{{shipping_method.id}}"
              {% ifequal shipping_method.id selected_shipping_method.id  %}selected="selected"{% endifequal %}>
              {{ shipping_method.name }}
          </option>
      {% endfor %}
      </select>
      {% endif %}
    <div class="row-fluid">
      <div class="span12">
        {% if selected_shipping_method.image %}
            <img src="{{ selected_shipping_method.image.url }}"
                 alt="{{ selected_shipping_method.name }}">
        {% endif %}
        {{ selected_shipping_method.description|safe }}
      </div>
    </div>
  </div>
</div>
