{% load url from future %}
{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% load lfs_portlets_tags %}

<div class="row-fluid">
<div class="span12">
<!-- product.categories.all -->

<form id="product-form" action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
class="add-to-cart-form" method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">

<!-- <h1>{{ product.categories.all }}</h1> -->
    <div class="span12"><h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1>
        {% property_value_icons product %}
    </div>
</div>
<div class="row-fluid product-detail">
    {# Images #}
    <div id="product-inline-img" class="span5">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url_huge }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
        </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
    </div>
    <div class="span1">
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li class="span12">
                <a href="{{ image.image.url_huge }}" class="colorbox thumbnail" rel="colorbox"
                title="{{ image.title }}">
        <img src="{{ image.image.url_small }}"
             alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span6 well" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">


        {% if not product.is_product_with_variants %}
        <div class="row-fluid">
            <div class="span6">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
            </div>
            <div class="span6">
                {# Prices #}
                <div class="prices">
                {% if product.is_product_with_variants %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                        {% cheapest_price product %}
                    </span>
                    </div>                
                {% else %}
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-info price" price="{{ product.price }}" currency="{{ currency.code }}">{{ product.for_sale_price|floatformat:0 }} <span class="currency">{{ SHOP.default_currency.abbr }}</span></span>
                    <ul>

                    <li><span id="int-for-sale-price" class="for-sale-price">{% standard_price product %}</span>
               
                    </li>
                    <li><span id="int-price_difference" class="for-sale-standard-price">{% trans 'You save' %}:<br>{% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                        <span class="label label-info price">{{ product.price|floatformat:0 }}
                            <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                        </span>
                    </div>
                {% endif %}
                {% endif %}
                </div> <!-- prices -->
            </div>
        </div>
           
        <div class="row-fluid">
         <div class="span6">
                {% if product.status.show_ask_button %}
                <div class="pull-left">
                    <a href="{% url 'lfs_product_question' product.id %}"
                    id="id_ask_question" class="modal-link">
                    {% trans "Ask the question" %}</a>
                </div>
                {% endif %}
            </div>
            <div class="span6">
                {% if product.status.show_buy_button %}
                    {% if product.get_active_packing_unit %}
                    <div class="product-quantity packing-unit pull-left" id="packing-url"
                        data="{% url 'lfs_calculate_packing' product.id %}">
                        <input class="number quantity" name="quantity" type="text"
                        value="{{ product.default_value }}" />
                        {{ unit }}
                    </div>
                    {% else %}
                    <div class="product-quantity pull-left">
                        
                        &nbsp;
                        <input class="number quantity input-small" name="quantity" size="3" type="text"
                        value="{{ product.default_value }}" />&nbsp;
                    </div>
                    <label for="quantity" class="pull-left">
                            {% if unit %} {{ unit }}: {% else %} &nbsp; {% trans "шт." %} {% endif %}
                        </label>
                    {% endif %}
                {% endif %}
            </div>  
        </div>
        {% endif %}

    
    {% if not product.is_product_with_variants %}
    <div class="cart-toolbar">
        <div class="row-fluid">
    
            <div class="span6">
                <div class="add-to-cart-form">
                    {% if product in request.session.notebook %}
                    <a id="notebook_{{ product.id }}" class="pull-left" href="{% url 'lfs_notebook' %}">{% trans "In notebook" %}</a>
                    {% else %}
                    <a id="notebook_{{ product.id }}" class="pull-left" href="javascript:notebook_add_product({{ product.id }})">{% trans "Notebook" %}</a>
                    {% endif %}   
                </div>
            </div>

            <div class="span6">

                {% if product.status.show_buy_button %}
                <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                    class="add-to-cart-form"
                    method="post">
                {% csrf_token %}
                <input name="product_id" type="hidden" value="{{ product.id }}" />
                <input name="ajax_mode" type="hidden" value="1" />
                <button class="btn btn-primary btn_product">{% trans "Buy" %}</button>
                </form>
                {% endif %}
            </div>

        </div>     <!-- row-fluid -->
    </div>
    {% endif %}

</div>

    </div>  
<input type="hidden" name="product_id" value="{{ product.id }}" />  

{% average_for_instance product %}

<div class="row-fluid">
    <div class="span12">
    <div class="short-description">
        <span itemprop="description">{{ product.get_short_description|safe}}<span>
    </div>
    </div>
</div>

{# Variants #}
{% if product.is_product_with_variants or product.is_variant %}
    {% include variants_display_type_template %}
{% endif %}

    <div class="row-fluid">
    <div class="span12">

        <div id="product-tabs">
            <ul>
                </li>
            {% if product.has_description %}
                <li><a href="{% url 'lfs_product_description' product.slug %}"><span>{% trans "Description" %}</span></a></li>
            {% endif %}
           
                <li><a href="{% url 'lfs_product_reviews' product.slug %}"><span>{% trans "Reviews" %}</span></a></li>
            </ul>
        </div>

        </div>
    </div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{# Accessories #} {% if product_accessories %}
<div class="row-fluid">
    <div class="span12">


        <div class="accessories">
            <h4 class="section">
                {% trans 'Recommended to add' %}
            </h3>

                <ul id="categories-carousel">
                {% for product_accessory in product_accessories %}
                    <li class="portlet-item">
    
                         <div class="image-wrapper">
                             <a class="product-title" href="{{ product_accessory.accessory.get_absolute_url }}">
                                {% if product_accessory.accessory.get_image %}
                                <img alt="{{product_accessory.accessory.get_name}}" src="{{product_accessory.accessory.get_image.image.url_medium}}" />
                                 {% else %}
                                  <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product_accessory.accessory.get_image.title }}" class="product-image" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="accessories-price">
                          <a class="product-title" href="{{ product_accessory.accessory.get_absolute_url }}">{{ product_accessory.accessory.name }}</a>
                        </div>
                        <div class="product-price price">
                            {{ product_accessory.accessory.price|floatformat:0 }}
                            <span>{{ SHOP.default_currency.abbr }}</span>
                        </div>
                         {% if product_accessory.accessory.status.show_buy_button %}
                        <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                            class="add-to-cart-form"
                            method="post">
                        {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product_accessory.accessory.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <button class="btn">{% trans "Buy" %}</button>
                        </form>
                        {% endif %} 
                      <!--  -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>

<script type="text/javascript">  
// for price as integer numbers
    var t="{% standard_price product %}";
    var res = t.substr(0,t.indexOf("."));
    $("#int-for-sale-price").html(res+" грн");

    t="{% price_difference product %}";
    res = t.substr(0,t.indexOf("."));
    $("#int-price_difference").html("Экономия: "+res+" грн");
</script>

<script type="text/javascript">
    function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        link = "/notebook/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url 'lfs_notebook' %}");
                if (id != undefined)
                {
                    $('#notebook')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                    
                    mediator.publish('change_slots_width', "span3", "span6", "span9");
                    page_designer.page_rebuild();
                }
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        link = "/comparison/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url 'lfs_comparison' %}");
                if (id != undefined)
                {
                    $('#comparison')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                    
                    mediator.publish('change_slots_width', "span3", "span6", "span9");
                    page_designer.page_rebuild();
                }
            }
        });
    };
</script>


{% block body_bottom %}
    <script>
              config.right_portlet_count++;
              config.left_portlet_count++;
              mediator.publish('change_slots_width', "span3", "span6", "span9");
             
          </script>
{% endblock %}